@font-face {
  font-family: norse-bold;
  src: url(/fonts/Norse-Bold.otf);
}

body {
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

/* a:visited {
  color: white;
} */

.bg {
  width: 500px;
  height: 100vh;
}

.bg-container {
  position: relative;
}

/* .bg-credit {
  color: white;
  position: absolute;
  bottom: 5px;
} */

.header,
.footer {
  background-color: #d9d9d9;
}

.flex-container {
  display: flex;
  flex-direction: column;
}